@import "../../variables.scss";

.navbar {
  height: 80px;
  width: 98vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid grey;

  .logo-container {
    height: 100%;
    width: 8%;
    background-color: $buttons-color;
    display: flex;
    align-items: center;
    justify-content: center;

    .EventNoteIcon {
      height: 70%;
    }
  }

  .user-data-container {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    justify-content: space-around;
    p {
      margin: 0;
      font-size: 1rem;
    }
  }

  .date-change-container {
    display: flex;
    width: 15%;
    justify-content: space-around;
  }

  .logout-container {
    margin-right: 2%;
    margin-left: 5%;
    border: none;
    background: none;
    height: 70%;
    width: 3%;
  }
  .logout-container:hover {
    cursor: pointer;
  }
}
