.new-category {
  background-color: #1b1b1b;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  #exit-button {
    position: absolute;
    top: 40px;
    right: 60px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 2rem;
    &:hover {
      cursor: pointer;
      color: #ff4136;
    }
  }

  h1 {
    margin-bottom: 20px;
    font-size: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .label {
      font-size: 1.3rem;
      margin-top: 40px;
    }
    .input {
      width: 70%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 2px solid white;
      border-radius: 5px;
      background-color: transparent;
      color: #fff;
      &:focus {
        outline: none;
        border-style: double;
        border: 2px solid lightpink;
      }
    }
    .type-container {
      display: flex;
      flex-direction: column;
      .label {
        text-align: center;
        margin-bottom: 10%;
      }

      .type-boxes {
        display: flex;
        flex-direction: row;
        align-items: center;

        #income-box,
        #expense-box {
          width: 30px;
          height: 30px;
          &:hover {
            cursor: pointer;
          }
        }
        #income-box {
          margin-left: 10px;
          margin-right: auto;
          &:checked {
            filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(270deg)
              brightness(150%) contrast(100%);
          }
        }
        #expense-box {
          margin-right: 10px;
          margin-left: auto;
          &:checked {
            filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(140deg)
              brightness(100%) contrast(100%);
          }
        }
      }
    }
    .submit-button {
      margin-top: 60px;
      background-color: #0c78c6;
      color: #fff;
      border: none;
      &:hover {
        cursor: pointer;
        background-color: #ff851b;
      }
      &:disabled {
        background-color: #ff4136;
        color: #fff;
        border: none;
        opacity: 0.5;
        &:hover {
          cursor: not-allowed;
        }
      }
    }
  }
}
