@import "../../variables.scss";

.calendar-day {
  height: $day-height;
  width: $day-width;
  min-height: $day-min-height;
  margin-left: 2%;
  margin-bottom: 1%;
  border-left: 1px solid gray;
  border-right: 1px solid gray;

  .day-header {
    height: 20%;
    background-color: rgb(248, 249, 249);
    display: flex;
    justify-content: space-around;
    align-items: center;

    .day-date {
      font-size: 1.1rem;
      padding-left: 0%;
    }

    .day-balance {
      font-size: 1rem;
    }
  }
}
