@import "../../variables.scss";

.calendar-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  .weekday-list {
    display: flex;
    flex-flow: row;
    height: 40px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;

    .weekday-item {
      width: $day-width;
      margin-left: $day-margin;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: 1rem;
      }
    }
  }

  .calendar {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
}
