.transaction {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-around;
  height: 30%;
  margin-top: 5%;

  .transaction-amount {
    width: 50%;
    text-align: center;
  }
  .transaction-description {
    width: 50%;
  }
}
